h1{
	font-size: rem(30);
	font-weight: 500;
	margin-bottom: rem(15);
	color: $pink;
}
h2{
	font-size: rem(20);
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: rem(10);
}
h3{
	font-size: rem(16);
	text-transform: uppercase;
	margin-top: 30px;
}
h4{
	font-size: rem(17);
}
h5{
	font-size: rem(16);
}
h6{
	font-size: rem(15);
	color: $darkGray;
	line-height: 1;
	margin-bottom: 5px;
	text-transform: uppercase;
}

// default anchor
a{
	color: $darkGray;
	font-size: rem(15);
	&:hover{
		color: $pink;
	}
}
p{
	font-size: rem(14);
	&:last-child{
		margin-bottom: 0px;
	}
	a{
		color: $pink;
	}
}