// function Convert PX to REM
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

// variables for fonts
$montserrat: 'Montserrat', sans-serif;



// variables for colors

