.file-list{
	margin-bottom: rem(20);
	ul{
		margin-bottom: 0px;
		li{
			&.card{
				border: 0px;
				a{
					color: $pink;
					&:hover{
						text-decoration: none;
					}
					&.folder{
						&:before{
							content: "\f114";
							font: normal normal normal 14px/1 FontAwesome;
							margin-right: rem(5);
						}
					}
					&.file{
						&:before{
							content: "\f1c9";
							font: normal normal normal 14px/1 FontAwesome;
							margin-right: rem(5);
						}
					}
				}
				ul{
					list-style: none;
					padding-left: rem(15);
				}
				.card-header{
					background-color: transparent;
					border: 0px;
					padding: 0px;
				}
			}
		}
	}
}

.fix_pos {
    aside {
        position: fixed;
        top: 0;
        left: 15px;
        overflow-y: auto;
    }
}

.subsection{
	margin-top: 55px;
	img{
		border: 1px solid #ccc;
	}
}

ol{
	padding-left: 15px;
}
// colors
.color-holder{
	border: 1px solid #ddd;
	margin-bottom: 20px;
	.color{
		height: 80px;
	}
	.color-detail{
		padding: 5px;
		border-top: 1px solid #ddd;
		p{
			margin-bottom: 0;
		}
	}
}