.main-comtent-area{
	.each-submenu-content-section{
		margin-bottom: 40px;
		.file-list{
			margin-bottom: rem(20);
			ul{
				margin-bottom: 0px;
				li{
					&.card{
						border: 0px;
						a{
							color: $pink;
							&:hover{
								text-decoration: none;
							}
							&.folder{
								&:before{
									content: "\f114";
									font: normal normal normal 14px/1 FontAwesome;
									margin-right: rem(5);
								}
							}
							&.file{
								&:before{
									content: "\f1c9";
									font: normal normal normal 14px/1 FontAwesome;
									margin-right: rem(5);
								}
							}
						}
						ul{
							list-style: none;
							padding-left: rem(15);
						}
						.card-header{
							background-color: transparent;
							border: 0px;
							padding: 0px;
						}
					}
				}
			}
		}
		h6{
			text-transform: none;
			margin-bottom: rem(8);
		}
	}
	pre{
		margin-bottom: 0px;
		padding: rem(20);
		background-color: #f6f6f6;
		span{
			&.comment{
				color: $success;
			}
		}
	}
	table{
		td{
			font-size: rem(14);
		}
	}
	ol{
		padding-left: 15px;
		& > li{
			margin-bottom: 15px;
			ul{
				margin-bottom: 15px;
				li{
					list-style: none;
					margin-bottom: 5px;
				}
			}
		}
	}
}
.fix_pos {
    aside {
        position: fixed;
        top: 0;
        left: 15px;
        overflow-y: auto;
    }
}
